.programmeSection {
    .wrap {
        @include Displayflex;
        overflow: hidden;
        .sectionLeft {
            min-width: 24.2em;
            background-color: $background-color;
            min-height: 46.8em;
            position: relative;
            .headerTop {
                padding: 36px 48px;
                h1 {
                    font-family: AvenirMedium, 'Segoe UI', sans-serif;
                    font-size: 26px;
                    &:last-child {
                        font-size: 48px;
                    }
                }
            }
            .sliderSwitch {
    
            }
            .seeAll {
                @include seeAll;
                position: absolute;
                bottom: 21%;
                left: 19%;   
                a {
                    font-size: 18px;             
                }
            }
        }
        .sectionSlider {
            flex: 2;
            #slider {
                position: relative;
                top: 55%;
                left: -3.5em;
                transform: translateY(-50%);
                .navigation {
                    position: absolute;
                    left: -13em;
                    top: 17em;
                    button {
                        @include BackgroundImgProp;
                        content: "";
                        width: 56px;
                        height: 34.73px;
                        background-color: transparent;
                        border: 0;
                        cursor: pointer;
                    }  
                    .previous {
                        background-image: url("../images/previousArrow.png");
                        margin-right: 20px;
                    }
                    .next {
                        background-image: url("../images/nextArrow.png");
                    }                                    
                }
                .view-port {
                    overflow: hidden;
                    padding: 20px 0;
                    .programme {
                        @include Displayflex;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        .sliderHolder {
                            position: relative;
                            display:  block;
                            min-width: 417px;
                            margin-right: 20px;
                            /*max-height: 48vh;*/
                            background-color: $white;    
                            border-bottom: 2px solid $accent-color;       
                            -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.19);   
                            -moz-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.19);   
                            box-shadow: 0 2px 12px 0 rgba(0,0,0,0.19);                                          
                            .holder {                              
                                .imgHolder {
                                    width: 100%;
                                    height: auto;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .contnetHolder {
                                    padding: 25px;                       
                                    .titleHolder {
                                        h1 {
                                            font-family: AvenirRoman, 'Segoe UI', sans-serif;
                                            font-size: 18px;
                                            font-weight: 900;    
                                            margin-bottom: 10px;     
                                            text-transform: uppercase;                                   
                                        }
                                    }
                                    .descHolder {
                                        p {
                                            font-family: AvenirRoman, 'Segoe UI', sans-serif;
                                            font-size: 16px;
                                            line-height: 25px;
                                            color: $secondary-color;
                                        }
                                    }
                                    .moreDetail {
                                        position: absolute;
                                        bottom: 0;
                                        right: 0;
                                        button {
                                            font-family: AvenirRoman, 'Segoe UI', sans-serif;
                                            font-size: 14px;
                                            letter-spacing: 1px;
                                            background-color: $accent-color;
                                            border: 0;
                                            padding: 7px 20px;
                                            cursor: pointer;
                                            color: $white;
                                        }
                                    }
                                }
                            }                    
                        }
                    }                      
                }                         
            }
        }
    }
}

.ReactModal__Overlay {
    z-index: 999999;
}