@charset "UTF-8";

@import "variable";
@import "mixin";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
  
*::selection,
*::-moz-selection {
    background-color: #4a4a4a;
    color: #ffffff;
}
  
a {
    text-decoration: none;
    color: $primary-color;
}

@import "header";
@import "video";
@import "evets_actuality";
@import "about";
@import "mission";

.container {
    max-width: 1440px;
    margin: 0 auto; 
    @media only screen and (max-width: $break-large) {
        max-width: 100%;
    }      
}
  
.clearfix {
    content: "";
    clear: both;
    display: table;
}